{% extends "partials/base.html" %}
{% block title %} Home Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
                <div class="header-bar">
                    <h1>Login</h1>
                </div>
                
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="d-grid mt-3"><input class="btn btn-block" type="submit" value="Login"></div>
                        
                    </form>    
                </div>
                <p>Don't Have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock %}