{% extends "partials/base.html" %}
{% block title %} Home Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="header-bar">
            <a class="text-decoration-none text-white" href="{% url 'tasks' %}">&#8592; Back</a>

        </div>

        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <input class="btn" type="submit" value="Add Task">
            </form>
        </div>
        

{% endblock %}